.WeatherLayout {
    background-color: #1b2838; /* dark blue */
    color: #f0f0f0; /* light grey */
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    font-size: 20px;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #2e4057; 
    border-radius: 6px;
    font-size: 1.1em;
    line-height: 1.6em;
}

.markSpan {
    color: #ffcc00; /* yellow */
    font-weight: bold;
}

li:hover {
    background-color: #3c4d61; /* lighter blue */
    color: #ffcc00; /* yellow text on hover */
    transition: background-color 0.3s, color 0.3s;
}
