.Layout {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto;
    height: fit-content;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Layout header, .Layout footer {
    grid-column: span 2;

}

.Layout main {
    height:  560px;
}
